# –ò–Ω—Ç–µ—Ä–∞–∫—Ç–∏–≤–Ω–æ–µ –æ–±—É—á–µ–Ω–∏–µ SQL —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö Chinook

## –ú—É–∑—ã–∫–∞–ª—å–Ω—ã–π –º–∞–≥–∞–∑–∏–Ω - –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏–µ —É–ø—Ä–∞–∂–Ω–µ–Ω–∏—è

–≠—Ç–æ—Ç notebook –ø–æ–º–æ–∂–µ—Ç –≤–∞–º –∏–∑—É—á–∏—Ç—å SQL –Ω–∞ –ø—Ä–∏–º–µ—Ä–µ —Ä–µ–∞–ª—å–Ω–æ–π –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö –º—É–∑—ã–∫–∞–ª—å–Ω–æ–≥–æ –º–∞–≥–∞–∑–∏–Ω–∞.

In [ ]:
# –£—Å—Ç–∞–Ω–æ–≤–∫–∞ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# –ù–∞—Å—Ç—Ä–æ–π–∫–∞ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 20)
plt.style.use('seaborn')
%matplotlib inline

In [ ]:
# –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö
try:
    conn = sqlite3.connect('../data/databases/chinook.db')
    print("‚úÖ –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö —É—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–æ —É—Å–ø–µ—à–Ω–æ!")
except Exception as e:
    print(f"‚ùå –û—à–∏–±–∫–∞ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è: {e}")
    print("üì• –ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –∑–∞–≥—Ä—É–∑–∏—Ç–µ –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö —Å –ø–æ–º–æ—â—å—é —Å–∫—Ä–∏–ø—Ç–∞ download_databases.py")

In [ ]:
# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Å—Ç—Ä—É–∫—Ç—É—Ä—ã –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
print("üìä –°—Ç—Ä—É–∫—Ç—É—Ä–∞ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö Chinook:")
print("=" * 40)

# –ü–æ–ª—É—á–∞–µ–º —Å–ø–∏—Å–æ–∫ —Ç–∞–±–ª–∏—Ü
tables_query = """
SELECT name, sql 
FROM sqlite_master 
WHERE type = 'table'
ORDER BY name;
"""

tables_df = pd.read_sql_query(tables_query, conn)
print(f"\nüìã –ù–∞–π–¥–µ–Ω–æ —Ç–∞–±–ª–∏—Ü: {len(tables_df)}")
for idx, row in tables_df.iterrows():
    print(f"‚Ä¢ {row['name']}")

# –ü–æ–∫–∞–∑—ã–≤–∞–µ–º —Å—Ç—Ä—É–∫—Ç—É—Ä—É –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –∫–ª—é—á–µ–≤—ã—Ö —Ç–∞–±–ª–∏—Ü
key_tables = ['Artist', 'Album', 'Track', 'Customer', 'Invoice']

for table in key_tables:
    print(f"\nüìÑ –°—Ç—Ä—É–∫—Ç—É—Ä–∞ —Ç–∞–±–ª–∏—Ü—ã {table}:")
    schema_query = f"PRAGMA table_info({table});"
    schema_df = pd.read_sql_query(schema_query, conn)
    print(schema_df[['name', 'type', 'notnull']])

## –£–ø—Ä–∞–∂–Ω–µ–Ω–∏–µ 1: –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –∏—Å–ø–æ–ª–Ω–∏—Ç–µ–ª–µ–π

–ù–∞–π–¥–µ–º –≤—Å–µ—Ö –∏—Å–ø–æ–ª–Ω–∏—Ç–µ–ª–µ–π –∏ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –∏—Ö —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ.

In [ ]:
# –ü–æ–∫–∞–∑–∞—Ç—å –≤—Å–µ—Ö –∏—Å–ø–æ–ª–Ω–∏—Ç–µ–ª–µ–π
artists_query = """
SELECT ArtistId, Name 
FROM Artist 
ORDER BY Name;
"""

artists_df = pd.read_sql_query(artists_query, conn)
print(f"üìä –í—Å–µ–≥–æ –∏—Å–ø–æ–ª–Ω–∏—Ç–µ–ª–µ–π: {len(artists_df)}")
print("\nüìã –ü–µ—Ä–≤—ã–µ 10 –∏—Å–ø–æ–ª–Ω–∏—Ç–µ–ª–µ–π:")
print(artists_df.head(10))

# –ò—Å–ø–æ–ª–Ω–∏—Ç–µ–ª–∏ –ø–æ –ø–µ—Ä–≤–æ–π –±—É–∫–≤–µ
first_letter_query = """
SELECT 
    SUBSTR(Name, 1, 1) as FirstLetter,
    COUNT(*) as Count
FROM Artist
GROUP BY SUBSTR(Name, 1, 1)
ORDER BY Count DESC;
"""

try:
    letter_df = pd.read_sql_query(first_letter_query, conn)
    print("\nüî§ –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –ø–æ –ø–µ—Ä–≤–æ–π –±—É–∫–≤–µ:")
    print(letter_df.head(10))
except:
    # –ê–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω—ã–π –∑–∞–ø—Ä–æ—Å –¥–ª—è SQLite
    letter_query = """
    SELECT 
        SUBSTR(Name, 1, 1) as FirstLetter,
        COUNT(*) as Count
    FROM Artist
    GROUP BY SUBSTR(Name, 1, 1)
    ORDER BY Count DESC
    LIMIT 10;
    """
    letter_df = pd.read_sql_query(letter_query, conn)
    print("\nüî§ –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –ø–æ –ø–µ—Ä–≤–æ–π –±—É–∫–≤–µ (—Ç–æ–ø-10):")
    print(letter_df)

## –£–ø—Ä–∞–∂–Ω–µ–Ω–∏–µ 2: –ê–Ω–∞–ª–∏–∑ –∞–ª—å–±–æ–º–æ–≤ –∏ —Ç—Ä–µ–∫–æ–≤

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Å—Ç—Ä—É–∫—Ç—É—Ä—É –º—É–∑—ã–∫–∞–ª—å–Ω–æ–π –∫–æ–ª–ª–µ–∫—Ü–∏–∏.

In [ ]:
# –¢–æ–ø-10 –∞–ª—å–±–æ–º–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç—Ä–µ–∫–æ–≤
album_tracks_query = """
SELECT 
    a.Title as Album,
    ar.Name as Artist,
    COUNT(t.TrackId) as TrackCount
FROM Album a
JOIN Artist ar ON a.ArtistId = ar.ArtistId
JOIN Track t ON a.AlbumId = t.AlbumId
GROUP BY a.AlbumId
ORDER BY TrackCount DESC
LIMIT 10;
"""

album_tracks_df = pd.read_sql_query(album_tracks_query, conn)
print("üéµ –¢–æ–ø-10 –∞–ª—å–±–æ–º–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç—Ä–µ–∫–æ–≤:")
print(album_tracks_df)

# –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è
plt.figure(figsize=(12, 6))
plt.barh(album_tracks_df['Album'][:5], album_tracks_df['TrackCount'][:5])
plt.xlabel('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç—Ä–µ–∫–æ–≤')
plt.title('–¢–æ–ø-5 –∞–ª—å–±–æ–º–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç—Ä–µ–∫–æ–≤')
plt.gca().invert_yaxis()
plt.tight_layout()
plt.show()

## –£–ø—Ä–∞–∂–Ω–µ–Ω–∏–µ 3: –ê–Ω–∞–ª–∏–∑ –ø—Ä–æ–¥–∞–∂

–ò—Å—Å–ª–µ–¥—É–µ–º –¥–∞–Ω–Ω—ã–µ –æ –ø—Ä–æ–¥–∞–∂–∞—Ö –∏ –∫–ª–∏–µ–Ω—Ç–∞—Ö.

In [ ]:
# –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ –∫–ª–∏–µ–Ω—Ç–∞–º
customer_stats_query = """
SELECT 
    Country,
    COUNT(*) as CustomerCount,
    AVG(Total) as AvgSpent
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY Country
ORDER BY CustomerCount DESC;
"""

customer_stats_df = pd.read_sql_query(customer_stats_query, conn)
print("üåç –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º:")
print(customer_stats_df.head(10))

# –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(15, 6))

# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º
top_countries = customer_stats_df.head(8)
ax1.bar(top_countries['Country'], top_countries['CustomerCount'])
ax1.set_title('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º')
ax1.set_xlabel('–°—Ç—Ä–∞–Ω–∞')
ax1.set_ylabel('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤')
ax1.tick_params(axis='x', rotation=45)

# –°—Ä–µ–¥–Ω–∏–µ —Ç—Ä–∞—Ç—ã –ø–æ —Å—Ç—Ä–∞–Ω–∞–º
ax2.bar(top_countries['Country'], top_countries['AvgSpent'])
ax2.set_title('–°—Ä–µ–¥–Ω–∏–µ —Ç—Ä–∞—Ç—ã –ø–æ —Å—Ç—Ä–∞–Ω–∞–º')
ax2.set_xlabel('–°—Ç—Ä–∞–Ω–∞')
ax2.set_ylabel('–°—Ä–µ–¥–Ω—è—è —Å—É–º–º–∞ ($)')
ax2.tick_params(axis='x', rotation=45)

plt.tight_layout()
plt.show()

## –£–ø—Ä–∞–∂–Ω–µ–Ω–∏–µ 4: –ñ–∞–Ω—Ä–æ–≤–æ–π –∞–Ω–∞–ª–∏–∑

–ò—Å—Å–ª–µ–¥—É–µ–º –º—É–∑—ã–∫–∞–ª—å–Ω—ã–µ –∂–∞–Ω—Ä—ã –∏ –∏—Ö –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å.

In [ ]:
# –ü–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å –∂–∞–Ω—Ä–æ–≤
genre_query = """
SELECT 
    g.Name as Genre,
    COUNT(t.TrackId) as TrackCount,
    COUNT(DISTINCT a.AlbumId) as AlbumCount
FROM Genre g
JOIN Track t ON g.GenreId = t.GenreId
JOIN Album a ON t.AlbumId = a.AlbumId
GROUP BY g.GenreId
ORDER BY TrackCount DESC;
"""

genre_df = pd.read_sql_query(genre_query, conn)
print("üéß –ü–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å –∂–∞–Ω—Ä–æ–≤:")
print(genre_df)

# –ö—Ä—É–≥–æ–≤–∞—è –¥–∏–∞–≥—Ä–∞–º–º–∞ —Ç–æ–ø-5 –∂–∞–Ω—Ä–æ–≤
top_genres = genre_df.head(5)
plt.figure(figsize=(10, 8))
plt.pie(top_genres['TrackCount'], labels=top_genres['Genre'], autopct='%1.1f%%')
plt.title('–†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —Ç—Ä–µ–∫–æ–≤ –ø–æ —Ç–æ–ø-5 –∂–∞–Ω—Ä–∞–º')
plt.show()

## –ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏–µ –∑–∞–¥–∞–Ω–∏—è:

–ü–æ–ø—Ä–æ–±—É–π—Ç–µ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Å–ª–µ–¥—É—é—â–∏–µ –∑–∞–ø—Ä–æ—Å—ã —Å–∞–º–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ:

1. –ù–∞–π–¥–∏—Ç–µ 5 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö —Ç—Ä–µ–∫–æ–≤
2. –ü–æ–∫–∞–∂–∏—Ç–µ –∫–ª–∏–µ–Ω—Ç–æ–≤ –∏–∑ –°–®–ê —Å –∏—Ö –æ–±—â–µ–π —Å—É–º–º–æ–π –ø–æ–∫—É–ø–æ–∫
3. –ù–∞–π–¥–∏—Ç–µ –∏—Å–ø–æ–ª–Ω–∏—Ç–µ–ª–µ–π, —É –∫–æ—Ç–æ—Ä—ã—Ö –±–æ–ª–µ–µ 10 –∞–ª—å–±–æ–º–æ–≤
4. –ü–æ–∫–∞–∂–∏—Ç–µ –º–µ—Å—è—á–Ω—É—é —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É –ø—Ä–æ–¥–∞–∂ –∑–∞ 2021 –≥–æ–¥
5. –ù–∞–π–¥–∏—Ç–µ —Ç—Ä–µ–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –µ—Å—Ç—å –≤ –±–æ–ª–µ–µ —á–µ–º 5 –ø–ª–µ–π–ª–∏—Å—Ç–∞—Ö

In [ ]:
# –ú–µ—Å—Ç–æ –¥–ª—è –≤–∞—à–∏—Ö —Ä–µ—à–µ–Ω–∏–π

# –ó–∞–¥–∞–Ω–∏–µ 1: 5 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö —Ç—Ä–µ–∫–æ–≤
# your_query = """
# SELECT Name, UnitPrice 
# FROM Track 
# ORDER BY UnitPrice DESC 
# LIMIT 5;
# """
# result = pd.read_sql_query(your_query, conn)
# print(result)

In [ ]:
# –ó–∞–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ
conn.close()
print("‚úÖ –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –∑–∞–∫—Ä—ã—Ç–æ")