# –ò–Ω—Ç–µ—Ä–∞–∫—Ç–∏–≤–Ω–æ–µ –æ–±—É—á–µ–Ω–∏–µ SQL —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö Northwind

## –ë–∏–∑–Ω–µ—Å-–∞–Ω–∞–ª–∏—Ç–∏–∫–∞ –∏ —É–ø—Ä–∞–≤–ª–µ–Ω–∏–µ –∑–∞–ø–∞—Å–∞–º–∏

–≠—Ç–æ—Ç notebook –ø–æ–º–æ–∂–µ—Ç –≤–∞–º –∏–∑—É—á–∏—Ç—å SQL –Ω–∞ –ø—Ä–∏–º–µ—Ä–µ –∫–ª–∞—Å—Å–∏—á–µ—Å–∫–æ–π –±–∏–∑–Ω–µ—Å-–±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö.

In [ ]:
# –ò–º–ø–æ—Ä—Ç –±–∏–±–ª–∏–æ—Ç–µ–∫
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

# –ù–∞—Å—Ç—Ä–æ–π–∫–∏
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 15)
plt.style.use('seaborn')
%matplotlib inline

In [ ]:
# –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö
try:
    conn = sqlite3.connect('../data/databases/northwind.db')
    print("‚úÖ –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö —É—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–æ —É—Å–ø–µ—à–Ω–æ!")
except Exception as e:
    print(f"‚ùå –û—à–∏–±–∫–∞ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è: {e}")
    print("üì• –ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –∑–∞–≥—Ä—É–∑–∏—Ç–µ –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö —Å –ø–æ–º–æ—â—å—é —Å–∫—Ä–∏–ø—Ç–∞ download_databases.py")

In [ ]:
# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Å—Ç—Ä—É–∫—Ç—É—Ä—ã –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
print("üìä –°—Ç—Ä—É–∫—Ç—É—Ä–∞ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö Northwind:")
print("=" * 40)

tables_query = """
SELECT name 
FROM sqlite_master 
WHERE type = 'table'
ORDER BY name;
"""

tables_df = pd.read_sql_query(tables_query, conn)
print(f"\nüìã –ù–∞–π–¥–µ–Ω–æ —Ç–∞–±–ª–∏—Ü: {len(tables_df)}")
for idx, row in tables_df.iterrows():
    print(f"‚Ä¢ {row['name']}")

# –ü–æ–∫–∞–∑—ã–≤–∞–µ–º —Å—Ç—Ä—É–∫—Ç—É—Ä—É –∫–ª—é—á–µ–≤—ã—Ö —Ç–∞–±–ª–∏—Ü
key_tables = ['Products', 'Categories', 'Suppliers', 'Customers', 'Orders']

for table in key_tables:
    print(f"\nüìÑ –°—Ç—Ä—É–∫—Ç—É—Ä–∞ —Ç–∞–±–ª–∏—Ü—ã {table}:")
    schema_query = f"PRAGMA table_info({table});"
    schema_df = pd.read_sql_query(schema_query, conn)
    print(schema_df[['name', 'type']].head(8))

## –£–ø—Ä–∞–∂–Ω–µ–Ω–∏–µ 1: –ê–Ω–∞–ª–∏–∑ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–π

–ò—Å—Å–ª–µ–¥—É–µ–º –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç –ø—Ä–æ–¥—É–∫—Ü–∏–∏ –∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —Ç–æ–≤–∞—Ä–æ–≤.

In [ ]:
# –ê–Ω–∞–ª–∏–∑ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º
category_analysis_query = """
SELECT 
    c.CategoryName,
    COUNT(p.ProductID) as ProductCount,
    AVG(p.UnitPrice) as AvgPrice,
    SUM(p.UnitsInStock) as TotalStock
FROM Categories c
JOIN Products p ON c.CategoryID = p.CategoryID
GROUP BY c.CategoryID
ORDER BY ProductCount DESC;
"""

category_df = pd.read_sql_query(category_analysis_query, conn)
print("üõçÔ∏è –ê–Ω–∞–ª–∏–∑ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º:")
print(category_df)

# –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è
fig, axes = plt.subplots(1, 2, figsize=(15, 6))

# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º
axes[0].barh(category_df['CategoryName'], category_df['ProductCount'])
axes[0].set_xlabel('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥—É–∫—Ç–æ–≤')
axes[0].set_title('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º')
axes[0].invert_yaxis()

# –°—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º
axes[1].barh(category_df['CategoryName'], category_df['AvgPrice'])
axes[1].set_xlabel('–°—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ ($)')
axes[1].set_title('–°—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º')
axes[1].invert_yaxis()

plt.tight_layout()
plt.show()

## –£–ø—Ä–∞–∂–Ω–µ–Ω–∏–µ 2: –£–ø—Ä–∞–≤–ª–µ–Ω–∏–µ –∑–∞–ø–∞—Å–∞–º–∏

–ê–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º —Å–æ—Å—Ç–æ—è–Ω–∏–µ —Å–∫–ª–∞–¥—Å–∫–∏—Ö –∑–∞–ø–∞—Å–æ–≤ –∏ –≤—ã—è–≤–ª—è–µ–º –ø—Ä–æ–±–ª–µ–º—ã.

In [ ]:
# –ü—Ä–æ–¥—É–∫—Ç—ã —Å –Ω–∏–∑–∫–∏–º –∑–∞–ø–∞—Å–æ–º
low_stock_query = """
SELECT 
    p.ProductName,
    c.CategoryName,
    p.UnitsInStock,
    p.ReorderLevel,
    p.UnitPrice,
    s.CompanyName as Supplier
FROM Products p
JOIN Categories c ON p.CategoryID = c.CategoryID
JOIN Suppliers s ON p.SupplierID = s.SupplierID
WHERE p.UnitsInStock <= p.ReorderLevel
ORDER BY p.UnitsInStock;
"""

low_stock_df = pd.read_sql_query(low_stock_query, conn)
print(f"‚ö†Ô∏è –ü—Ä–æ–¥—É–∫—Ç—ã, —Ç—Ä–µ–±—É—é—â–∏–µ –ø–æ–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–ø–∞—Å–æ–≤: {len(low_stock_df)}")
print("\nüìã –¢–æ–ø-10 –ø—Ä–æ–¥—É–∫—Ç–æ–≤ —Å –∫—Ä–∏—Ç–∏—á–µ—Å–∫–∏–º –∑–∞–ø–∞—Å–æ–º:")
print(low_stock_df.head(10))

# –ê–Ω–∞–ª–∏–∑ –ø–æ –ø–æ—Å—Ç–∞–≤—â–∏–∫–∞–º
if len(low_stock_df) > 0:
    supplier_analysis = low_stock_df.groupby('Supplier').size().sort_values(ascending=False)
    print("\nüè¢ –ü–æ—Å—Ç–∞–≤—â–∏–∫–∏ —Å –ø—Ä–æ–±–ª–µ–º–Ω—ã–º–∏ —Ç–æ–≤–∞—Ä–∞–º–∏:")
    print(supplier_analysis.head())

    # –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è
    plt.figure(figsize=(10, 6))
    plt.bar(supplier_analysis.head(8).index, supplier_analysis.head(8).values)
    plt.title('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ —Å –Ω–∏–∑–∫–∏–º –∑–∞–ø–∞—Å–æ–º –ø–æ –ø–æ—Å—Ç–∞–≤—â–∏–∫–∞–º')
    plt.xlabel('–ü–æ—Å—Ç–∞–≤—â–∏–∫')
    plt.ylabel('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–±–ª–µ–º–Ω—ã—Ö –ø—Ä–æ–¥—É–∫—Ç–æ–≤')
    plt.xticks(rotation=45, ha='right')
    plt.tight_layout()
    plt.show()

## –£–ø—Ä–∞–∂–Ω–µ–Ω–∏–µ 3: –ê–Ω–∞–ª–∏–∑ –∫–ª–∏–µ–Ω—Ç–æ–≤ –∏ –ø—Ä–æ–¥–∞–∂

–ò—Å—Å–ª–µ–¥—É–µ–º –∫–ª–∏–µ–Ω—Ç—Å–∫—É—é –±–∞–∑—É –∏ –ø–∞—Ç—Ç–µ—Ä–Ω—ã –ø–æ–∫—É–ø–æ–∫.

In [ ]:
# –¢–æ–ø-10 –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∑–∞–∫–∞–∑–æ–≤
top_customers_query = """
SELECT 
    c.CompanyName,
    c.Country,
    c.City,
    COUNT(o.OrderID) as OrderCount,
    SUM(od.Quantity * od.UnitPrice) as TotalSpent
FROM Customers c
JOIN Orders o ON c.CustomerID = o.CustomerID
JOIN "Order Details" od ON o.OrderID = od.OrderID
GROUP BY c.CustomerID
ORDER BY OrderCount DESC
LIMIT 10;
"""

top_customers_df = pd.read_sql_query(top_customers_query, conn)
print("üë• –¢–æ–ø-10 –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∑–∞–∫–∞–∑–æ–≤:")
print(top_customers_df)

# –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–µ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤
country_query = """
SELECT 
    Country,
    COUNT(*) as CustomerCount
FROM Customers
GROUP BY Country
ORDER BY CustomerCount DESC;
"""

country_df = pd.read_sql_query(country_query, conn)
print("\nüåç –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º:")
print(country_df.head(10))

# –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è
fig, axes = plt.subplots(1, 2, figsize=(15, 6))

# –¢–æ–ø-8 —Å—Ç—Ä–∞–Ω –ø–æ –∫–ª–∏–µ–Ω—Ç–∞–º
top_countries = country_df.head(8)
axes[0].pie(top_countries['CustomerCount'], labels=top_countries['Country'], autopct='%1.1f%%')
axes[0].set_title('–†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º')

# –¢–æ–ø-10 –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ —Ç—Ä–∞—Ç–∞–º
axes[1].barh(top_customers_df['CompanyName'][:5], top_customers_df['TotalSpent'][:5])
axes[1].set_xlabel('–û–±—â–∞—è —Å—É–º–º–∞ ($))
axes[1].set_title('–¢–æ–ø-5 –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ —Ç—Ä–∞—Ç–∞–º')
axes[1].invert_yaxis()

plt.tight_layout()
plt.show()

## –£–ø—Ä–∞–∂–Ω–µ–Ω–∏–µ 4: –ê–Ω–∞–ª–∏–∑ –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤

–û—Ü–µ–Ω–∏–≤–∞–µ–º –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –∏ –∏—Ö –ø—Ä–æ–¥—É–∫—Ü–∏—é.

In [ ]:
# –ê–Ω–∞–ª–∏–∑ –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤
supplier_analysis_query = """
SELECT 
    s.CompanyName,
    s.Country,
    COUNT(p.ProductID) as ProductCount,
    AVG(p.UnitPrice) as AvgProductPrice,
    SUM(p.UnitsInStock) as TotalStock
FROM Suppliers s
JOIN Products p ON s.SupplierID = p.SupplierID
GROUP BY s.SupplierID
ORDER BY ProductCount DESC;
"""

supplier_df = pd.read_sql_query(supplier_analysis_query, conn)
print("üöö –ê–Ω–∞–ª–∏–∑ –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤:")
print(supplier_df.head(10))

# –ü–æ—Å—Ç–∞–≤—â–∏–∫–∏ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º
suppliers_by_country = supplier_df.groupby('Country').agg({
    'CompanyName': 'count',
    'ProductCount': 'sum',
    'AvgProductPrice': 'mean'
}).round(2)

suppliers_by_country.columns = ['–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ_–ü–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤', '–û–±—â–µ–µ–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ–ü—Ä–æ–¥—É–∫—Ç–æ–≤', '–°—Ä–µ–¥–Ω—è—è–¶–µ–Ω–∞']
suppliers_by_country = suppliers_by_country.sort_values('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ_–ü–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤', ascending=False)

print("\nüåç –ü–æ—Å—Ç–∞–≤—â–∏–∫–∏ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º:")
print(suppliers_by_country.head(8))

# –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è
fig, axes = plt.subplots(2, 2, figsize=(15, 12))

# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º
top_supplier_countries = suppliers_by_country.head(6)
axes[0,0].bar(top_supplier_countries.index, top_supplier_countries['–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ_–ü–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤'])
axes[0,0].set_title('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º')
axes[0,0].tick_params(axis='x', rotation=45)

# –û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º
axes[0,1].bar(top_supplier_countries.index, top_supplier_countries['–û–±—â–µ–µ–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ–ü—Ä–æ–¥—É–∫—Ç–æ–≤'])
axes[0,1].set_title('–û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º')
axes[0,1].tick_params(axis='x', rotation=45)

# –°—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º
axes[1,0].bar(top_supplier_countries.index, top_supplier_countries['–°—Ä–µ–¥–Ω—è—è–¶–µ–Ω–∞'])
axes[1,0].set_title('–°—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –ø—Ä–æ–¥—É–∫—Ç–∞ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º')
axes[1,0].tick_params(axis='x', rotation=45)

# –¢–æ–ø-10 –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø—Ä–æ–¥—É–∫—Ç–æ–≤
top_suppliers = supplier_df.head(10)
axes[1,1].barh(top_suppliers['CompanyName'], top_suppliers['ProductCount'])
axes[1,1].set_title('–¢–æ–ø-10 –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø—Ä–æ–¥—É–∫—Ç–æ–≤')
axes[1,1].set_xlabel('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥—É–∫—Ç–æ–≤')
axes[1,1].invert_yaxis()

plt.tight_layout()
plt.show()

## –ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏–µ –∑–∞–¥–∞–Ω–∏—è:

–ü–æ–ø—Ä–æ–±—É–π—Ç–µ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Å–ª–µ–¥—É—é—â–∏–µ –∑–∞–ø—Ä–æ—Å—ã —Å–∞–º–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ:

1. –ù–∞–π–¥–∏—Ç–µ 10 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö –ø—Ä–æ–¥—É–∫—Ç–æ–≤
2. –ü–æ–∫–∞–∂–∏—Ç–µ –∑–∞–∫–∞–∑—ã –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–π –º–µ—Å—è—Ü
3. –ù–∞–π–¥–∏—Ç–µ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤ —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –∑–∞–∫–∞–∑–æ–≤
4. –ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ –ø—Ä–æ–¥–∞–∂–∏ –ø–æ –∫–≤–∞—Ä—Ç–∞–ª–∞–º
5. –ù–∞–π–¥–∏—Ç–µ –ø—Ä–æ–¥—É–∫—Ç—ã, –∫–æ—Ç–æ—Ä—ã–µ –Ω–∏–∫–æ–≥–¥–∞ –Ω–µ –∑–∞–∫–∞–∑—ã–≤–∞–ª–∏

In [ ]:
# –ú–µ—Å—Ç–æ –¥–ª—è –≤–∞—à–∏—Ö —Ä–µ—à–µ–Ω–∏–π

# –ü—Ä–∏–º–µ—Ä —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏—è 1:
# expensive_products_query = """
# SELECT ProductName, UnitPrice, UnitsInStock
# FROM Products
# ORDER BY UnitPrice DESC
# LIMIT 10;
# """
# expensive_products = pd.read_sql_query(expensive_products_query, conn)
# print("–¢–æ–ø-10 —Å–∞–º—ã—Ö –¥–æ—Ä–æ–≥–∏—Ö –ø—Ä–æ–¥—É–∫—Ç–æ–≤:")
# print(expensive_products)

In [ ]:
# –ó–∞–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ
conn.close()
print("‚úÖ –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –∑–∞–∫—Ä—ã—Ç–æ")